{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="main">

<!-- Hero Section -->
    <section id="hero" class="hero section light-background">

      <img src="{% static 'img/Doctor&Patient.jpg' %}" alt="" data-aos="fade-in">

      <div class="container position-relative">

        <div class="welcome position-relative" data-aos="fade-down" data-aos-delay="100">
          <h2>WELCOME TO AFYA CENTER</h2>
          <p></p>
        </div><!-- End Welcome -->

        <div class="content row gy-4">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="why-box" data-aos="zoom-out" data-aos-delay="200">
              <h3>Why Choose Afya Center?</h3>
              <p>
                <h5>Compassionate and Experienced Care Team </h5>
Highlight the dedication and expertise of your medical professionals who prioritize patient well-being above all.
              </p>
              <div class="text-center">
                <a href="#about" class="more-btn"><span>Learn More</span> <i class="bi bi-chevron-right"></i></a>
              </div>
            </div>
          </div><!-- End Why Box -->

          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="d-flex flex-column justify-content-center">
              <div class="row gy-4">

                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box" data-aos="zoom-out" data-aos-delay="300">
                    <i class="bi bi-clipboard-data"></i>
                    <h4>State-of-the-Art Facilities and Technology</h4>
                    <p>Emphasize your advanced medical equipment and innovative treatments that ensure top-quality care.</p>
                  </div>
                </div><!-- End Icon Box -->

                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box" data-aos="zoom-out" data-aos-delay="400">
                    <i class="bi bi-gem"></i>
                    <h4>Comprehensive Range of Services</h4>
                    <p>Outline the wide array of specialized medical services offered under one roof, catering to diverse healthcare needs.</p>
                  </div>
                </div><!-- End Icon Box -->

                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box" data-aos="zoom-out" data-aos-delay="500">
                    <i class="bi bi-inboxes"></i>
                    <h4>Patient-Centered Approach</h4>
                    <p>Showcase your commitment to personalized healthcare, where every patient feels heard, valued, and supported throughout their journey.</p>
                  </div>
                </div><!-- End Icon Box -->

              </div>
            </div>
          </div>
        </div><!-- End  Content-->

      </div>

    </section><!-- /Hero Section -->
  </main>

{% endblock %}